
body {
	/*background: url(../img/chopsky.jpg);*/
	/*background-size: 80%;
	background-repeat: no-repeat;
	background-position: top left;*/
	/*width: 100%;*/
}

.circleContainer {
	/*margin-left: 50%;*/
	padding-left: 50%;
}

.circle {
	border-radius: 50%;
	position: absolute;
	background: url(../img/chopsky.jpg);
	background-size: 960%;
	width: 120px;
	height: 120px;
}


/* rows
--------------------------------*/
.rowone {
	top: 10px;
	background-position-y: 2%;
}

.rowtwo {
	background-position-y: 25%;
	top: 135px;
}

.rowthree {
	background-position-y: 49%;
	top: 260px;
}

.rowfour {
	background-position-y: 73%;
	top: 385px;
}

.rowfive {
	background-position-y: 97%;
	top: 510px;
}



/* columns
--------------------------------*/
.one {
	background-position-x: 1%;
	left: 10px;
}

.two {
	background-position-x: 14%;
	left: 135px;
}

.three {
	background-position-x: 26%;
	left: 260px;
}

.four {
	background-position-x: 38%;
	left: 385px;
}

.five {
	background-position-x: 50%;
	left: 510px;
}

.six {
	background-position-x: 61%;
	left: 635px;
}

.seven {
	background-position-x: 74%;
	left: 760px;
}

.eight {
	background-position-x: 86%;
	left: 885px;
}

.nine {
	background-position-x: 98%;
	left: 1010px;
}



/* SMALLER CIRCLES 
------------------------------------------*/
.smallCircle {
	border-radius: 50%;
	position: absolute;
	background: url(../img/chopsky.jpg);
	background-size: 2113%;
	width: 50px;
	height: 50px;
}


.smallRowzero {
	background-position-y: -3%;
	top: -20px;
}

.smallRowone {
	background-position-y: 18%;
	top: 106px;
}

.smallRowtwo {
	background-position-y: 38%;
	top: 232px;
}

.smallRowthree {
	background-position-y: 59%;
	top: 358px;
}

.smallRowfour {
	background-position-y: 81%;
	top: 484px;
}

.smallRowfive {
	background-position-y: 104%;
	top: 620px;
}



.smallOne {
	left: 108px;
	background-position-x: 10%; 
}

.smallTwo {
	left: 233px;
	background-position-x: 21%; 
}

.smallThree {
	left: 358px;
	background-position-x: 31%; 
}

.smallFour {
	left: 483px;
	background-position-x: 44%; 
}

.smallFive {
	left: 608px;
	background-position-x: 54%; 
}

.smallSix {
	left: 733px;
	background-position-x: 67%; 
}

.smallSeven {
	left: 858px;
	background-position-x: 78%; 
}

.smallEight {
	left: 983px;
	background-position-x: 90%; 
}


